@font-face {
    font-family:pixelArt;
    src:url('fonts/FreePixel.ttf')
   }

body{
    font-family: pixelArt;
    background-image: url('img/Dungeon.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.container{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.personal-info{
    margin: 0 auto;
    width: 50%;
    height: 198px;
    border: 3px solid;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #d2b48c;
}

.equipament{
    margin: 0 auto;
    margin-top: 7px;
    padding-top: 70px;
    width: 50%;
    height: 100%;
    border: 3px solid;
    border-radius: 10px;
    background-color: #d2b48c;
}

.photo{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 3px solid;
    border-radius: 50%;
    background-image: url('img/suéter.jpg');
    background-size: 90%;
    position: relative;
    margin-top: -410px;
}

.level{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    background-color: #d2b48c;
    position: relative;
    margin-top: -30px;
    margin-left: 50%;

}

.level p{
    font-size: 14px;
}
.name{
    position: relative;
}

.contact{
    text-align: center;
}

@media screen and (max-device-width:840px) {
    .container {
     margin-top:20%;
     width:95%;
    }

    .personal-info{
        width: 90%;
    }

    .equipament{
        width: 90%;
    }
   }
   

span{
    font-size: 16px;
}

p{
    text-align: center;
    font-size: 1em;
}

h2{
    text-align: center;
    justify-content: center;
}

h3{
    letter-spacing: 0;
    line-height: 0.1;
    text-align: center;
    justify-content: left;
}

h4{
    line-height: 0.1;
}

table{
    width: 100%;
    text-align: center;
}