@font-face {
    font-family:pixelArt;
    src:url('fonts/FreePixel.ttf')
   }

body{
    font-family: pixelArt;
    width: 100%;
    height: 100%;
    background-image: url('img/Dungeon.jpg');
    background-size: 100%;
}

.container{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('img/Dungeon.jpg');
}

.personal-info{
    margin: 0 auto;
    width: 50%;
    height: 200px;
    border: 1px solid;
    box-sizing: border-box;
    background-color: #d2b48c;
}

.equipament{
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 70px;
    width: 50%;
    height: 200px;
    border: 1px solid;
    background-color: #d2b48c;
}

.photo{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;
    background-image: url('img/suéter.jpg');
    background-size: 90%;
    position: relative;
    margin-top: -350px;
}

.level{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    background-color: #d2b48c;
    position: absolute;
    margin-top: -30px;
    margin-left: 50%;

}

.contact{

    border: 1px solid;
    width: 10%;
    height: 482px;
    position: absolute;
    margin-left: 23.7%;
    top: 3%;
}

.skills{
    border: 1px solid;
    width: 10%;
    height: 482px;
    position: absolute;
    margin-left: 65%;
    top: 3%;
}


.race{
    margin-left: 22%;
    position: absolute;
}

.class{
    margin-left: 1%;
    position: absolute;
}

.name{
    position: relative;
}

p{
    text-align: center;
    font-size: 14px;
}

h2{
    text-align: center;
    justify-content: center;
}